body {
    background-color: #24292e; /* GitHub's background color */
    color: #fafbfc;

    font-family: 'Arial', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: 0;
    margin: 0;
}

h2 {
    background-color: #24292e; /* GitHub's primary color */
    color: #ffffff;
    padding: 10px;
    margin: 0;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
}



textarea {
    background: #535e6b;
    width: calc(100% - 20px);
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Optional: Add some styling to the form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #353a42;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.main {
    background: #191c20;
    width: 40rem;
    padding:1rem;
    margin-top: 7.5rem;
    margin-inline: auto;
}


/* Add this CSS to your existing stylesheet */
button {
    background-color: #28a745; /* GitHub's green color */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838; /* Slightly darker green on hover */
}

/* Center the button horizontally */
button {
    display: block;
    margin: 20px auto;
}




 /* FOOTER */
footer {
    text-align: center;
    float: bottom;
}

footer a {
    color: #09cdda;
}

footer a:hover {
    color: #34ba8e;
}